body{
  background-color: #E5B181;
}
.menu{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 20px;
}
.menuText{
  margin-right: 20px;
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
  /* color: white; */
}
.menuText:hover{
  color: white;
}
.info{
  text-align: center;
  font-size: 20px;
  /* margin-top: 30px; */
  font-family: 'Lora', serif;
  letter-spacing: 2px;
}
.title{
  text-align: center;
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 3px;
  font-family: 'Istok Web', sans-serif;
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,700);
a:link{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
  text-decoration: none;
}
/* html, body {
  height: 100%;
  width: 100%;
} */
 /* background: #FFBE0B;
  font-family: "Space Mono";
  font-weight:400;
  font-size: 0.8em;
  color: #aaa;
  display:flex;

} */

input {
  font-family: "Space Mono";
  font-size:1em;
  outline:none;
}

/* * {
  margin:0;
  padding:0;
} */

.container {
  width: 600px;
  margin: auto;
  box-shadow: 0 0 2px hsla(0,0%,0%,0.2);
  border-radius:6px;
  background-color:#f8f8f8;
  margin-top: 30px;
}

/*@keyframes shake {
  from {left: -2px;}
  to   {left: 2px;}
}*/

@keyframes birth {
  from {height:0;}
  to   {height: 50px;}
}

.task--row {
  height: 50px;
  padding:0 20px;
  line-height:50px;
}

.task__head {
  background: #7DBBC3;
  color: white;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}

.task__footer {
  transition: all 0.2s cubic-bezier(.7,.2,.17,1);
  background: #DAEDBD;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}

.task__footer:hover {background-color:#c0d1a5}

.task {
  overflow:hidden;
  transition: all 0.2s 0.2s cubic-bezier(.7,.2,.17,1);
  position:relative;
  display:block;
}

.task__check {
  position: absolute;
  left: -9999px;
  z-index: -1;
}

.task__field {
  transition: background-size 0.8s 0.2s cubic-bezier(.7,.2,.17,1),
              background-color 0.2s cubic-bezier(.7,.2,.17,1),
              height 0.2s 1s cubic-bezier(.7,.2,.17,1);
  position:relative;
  background-color:#f8f8f8;
  border-top: 1px solid #eee;
  background-image: linear-gradient(to right, #FE5F55, red);
  background-size: 0 2px;
  background-repeat:no-repeat;
  background-position: left bottom;
}

.task__field:hover {background-color:white;}

.task:first-child .task__field {
  border-top:none;
}

.task--new:last-child {
  animation: birth 0.3s cubic-bezier(.7,.2,.17,1) 1;
}

.task__field.shaking {
  animation: shake 0.1s 0.1s infinite ease-in-out;
  background-size: 100% 2px;
}

.task__check:checked + .task__field {
  color: #47D185;
}

.task__important {
  transition: all 0.3s cubic-bezier(.09,.66,.36,1.8);
  opacity:0;
  position: absolute;
  right:0;
  top:0;
  transform: scale(0);
  color: #47D185;
  font-size:1.4em;
  height:50px;
  width:50px;
  border:0;
  background:none;
}

.task__check:checked + .task__field > .task__important {
  opacity: 0.5;
  transform: scale(1);
}

.task__field.delete {
  transition: all 0.2s cubic-bezier(.7,.2,.17,1);
  transform: scale(1.5, 2);
  height:0;
  opacity:0;
}

.task__add {
  height:50px;
  border:0;
  background:none;
  width:100%;
  color:#919191;
}
#one{
  height: 100vh;
  width: 100%;
}
.fundo {
  position: relative;
  width: 550px;
  height: 400px;
}
.dat {
  position: absolute;
  top: 230px;
  left: 170px;
  width: 222px;
  border-radius: 0 0 15px 15px;
  border-bottom: 92px solid #fbb9b9;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}
.dat::after {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 200px;
  height: 30px;
  border-radius: 5px 5px 0 0;
  background: #fbb9b9;
  content:"";
}
.dat::before {
  position: absolute;
  bottom: -100px;
  left: -10px;
  width: 220px;
  height: 25px;
  background: #fbb9b9;
  border-radius: 5px 5px 10px 10px;
  content:"";
}
.folha {
  position: absolute;
  bottom: 45px;
  left: 25px;
  width: 150px;
  height: 50px;
  background: #fff;
  animation: cresce 1s infinite alternate ease-in-out;
}
.botoes {
  position: absolute;
  top: -0px;
  left: 1px;
  width: 200px;
  height: 0px;
  border-radius: 0 0 10px 10px;
  border-bottom: 80px solid #F5F5F5;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.coiso-1 {
  position: absolute;
  top: -50px;
  left: -10px;
  width: 220px;
  height: 20px;
  background: #ccc;
  animation: anda .2s infinite alternate ease-in-out;
}
.coiso-1::after {
  position: absolute;
  bottom: -20px;
  left: -5px;
  width: 12px;
  height: 50px;
  background: #ddd;
  border-radius: 40%;
  content:"";
}
.coiso-1::before {
  position: absolute;
  bottom: -20px;
  left: 210px;
  width: 12px;
  height: 50px;
  background: #ddd;
  border-radius: 40%;
  content:"";
}
.botao {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-1 {
  position: absolute;
  left: 25px;
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-2 {
  position: absolute;
  left: calc(25px * 2);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-3 {
  position: absolute;
  left: calc(25px * 3);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-4 {
  position: absolute;
  left: calc(25px * 4);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-5 {
  position: absolute;
  left: calc(25px * 5);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-6 {
  position: absolute;
  left: calc(25px * 6);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-7 {
  position: absolute;
  top: 23px;
  left: 0;
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-8 {
  position: absolute;
  top: 23px;
  left: 25px;
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-9 {
  position: absolute;
  top: 23px;
  left: calc(25px * 2);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-10 {
  position: absolute;
  top: 23px;
  left: calc(25px * 3);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-11 {
  position: absolute;
  top: 23px;
  left: calc(25px * 4);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-12 {
  position: absolute;
  top: 23px;
  left: calc(25px * 5);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-13 {
  position: absolute;
  top: 23px;
  left: calc(25px * 6);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-14 {
  position: absolute;
  top: 47px;
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-15 {
  position: absolute;
  top: 47px;
  left: 25px;
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-16 {
  position: absolute;
  top: 47px;
  left: calc(25px * 2);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-17 {
  position: absolute;
  top: 47px;
  left: calc(25px * 3);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-18 {
  position: absolute;
  top: 47px;
  left: calc(25px * 4);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-19 {
  position: absolute;
  top: 47px;
  left: calc(25px * 5);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}
.botao-20 {
  position: absolute;
  top: 47px;
  left: calc(25px * 6);
  width: 15px;
  height: 17px;
  background: #ccc;
  border-radius: 50%;
  box-shadow: 0px 2px 0 0 #fff;
}

@keyframes cresce {
	0% {transform: scaleY(1.6)}
	100% {transform: scaleY(4)}
}
@keyframes anda {
  0%   {transform: translateX(0px)}
  100% {transform: translateX(5px)}
}
.flexCen{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
